 @model  DatabaseApproach.Models.employeeDetail 


@{
    ViewBag.Title = "GetHtmlHelperData";
}

<h2>GetHtmlHelperData</h2>

<input type="text" name="name" value="" /><br />

<br />

@Html.TextBoxFor(g=>g.EmpName)


